@import '../style/allColor.scss';


.error-message{
    color: $texterror-color;
    background-color: $secondary-color;
}

.success-message{
    background-color: $secondary-color;
    color: $textsuccess-color;
}

.Toastify__close-button{
    color: white;
}