@import './allColor.scss';
@import './fonctionStyle.scss';


.app.dark {
  background-color: $secondary-color;
  color: white;

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .chart {
    color: white;
  }

  .home,
  .featured,
  .navbar {
    background-color: $secondary-color;

    .notification-content {
      background-color: $secondary-color;

    }
  }

  .widget {
    background-color: $secondary-color;
  }

  .superheader {
    color: white;
    background-color: $primary-color;
  }


  .table {
    background-color: transparent;

    .tabletitle {
      background-color: $primary-color;
    }

    .tablebody {
      background-color: $secondary-color;
    }

    .tableCell {
      color: white;

    }
  }

  .navbar {
    .wrapper {
      .item {
        color: white;
        border-color: $textinfo-color;

        .icon {
          color: white;

        }
      }

      .search {
        border-color: $textinfo-color;


      }
    }

  }

  .sidebar {
    background-color: $secondary-color;
    border-color: $textinfo-color;
    color: white;

    hr {
      border-color: $textinfo-color;
    }

    .top,
    .bottom {
      background-color: $secondary-color;
    }

    .center {
      ul {

        li {
          .lien {

            span {
              color: white;
            }

          }

        }
      }
    }


  }

  .datatableUsers,
  .datatableAgency {
    .tableTitle {
      color: $primary-color ;
    }

    table {
      border: none;

      .footerContainer,
      .headerContainer {
        color: white;
      }

      .bodyContainer {
        background-color: $secondary-color;
        color: white;
      }
    }
  }

  input {
    background-color: transparent;
  }

  .LogoutButton {
    color: white;
  }

  .handler-404-page {
    background-color: $secondary-color;
  }

  .voyage-page {
    background-color: $secondary-color;
    border-color: $textinfo-color;
    color: white;

    .datagrid {
      color: white;
      border: none;
      background-color: $secondary-color;

      .tableTitle {
        background-color: $primary-color;

      }

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: rgb(211, 25, 25);
        border: none;
      }


    }

    .table1 {
      border: none;
      color: white;

      .footerContainer,
      .headerContainer {
        color: white;
      }

      .tablebod {
        background-color: $secondary-color;

      }

      .tableCell {
        color: white;

      }
    }

    .popup {
      background-color: $secondary-color;
      border-color: white;
      color: white;

      input {
        color: white;

      }

      select {
        background-color: $secondary-color;
        color: white;

      }
    }
  }


  .newUser {

    .form-user-contain {
      background-color: $secondary-color;

      .newUser-contain {

        .newUser-form {

          background-color: $secondary-color;
          color: white;

          .profil,
          select,
          input {

            background-color: $secondary-color;
            border-color: #fff;
            color: #fff;
          }
        }
      }

    }
  }

  .allAgency {

    .allAgencyContainer {

      .forme {

        .newAgency {

          .forme-contain {

            background-color: $secondary-color;

            .contain-form {

              .seat-forme {

                background-color: $secondary-color;
                color: white;

                select,
                input {

                  background-color: $secondary-color;
                  border-color: #fff;
                  color: #fff;
                }


              }

            }
          }
        }
      }
    }
  }

  .datatableAgency,
  .datatableUsers {

    table {

      .footerContainer,
      .headerContainer {

        th {
          color: #fff;
        }
      }

      .bodyContainer {
        td {
          color: #fff;
        }
      }
    }

  }

  .conditionaText {
    background-color: $secondary-color;
  }

  .user-profil {
    .contain-profil-user {
      background-color: $secondary-color;
      color: white;

      .profil-contain-user {
        color: white;

        .info-user-title,
        .info-user {
          color: white;


        }
      }
    }
  }

  /*balance*/
  .balance-page {
   /*popup*/
  .popup-overlay {
    .popup {
      background-color: $secondary-color;
      color:#fff;
      border-color: white;

      input {
        color: white;

      }
      
    }
  } 

  /*table*/
  .table1 {
    border: none;
    color: white;

    .footerContainer,
    .headerContainer {
      color: white;
    }

    .tablebod {
      background-color: $secondary-color;

    }

    .tableCell {
      color: white;

    }
  }
  
  }
  

}